body{
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614638426_27-p-fon-vodi-dlya-fotoshopa-39.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    background-attachment: fixed;
}
h2{
    color: aqua;font-weight: bold;font-family: Arial; text-align: center;padding: 1px;
}
div{
    display: block; margin: 1% 30% 1% 30%; width: 40%;border-radius: 20px; border: 10px solid aqua;background:white;
}
#a{
   display: block; margin: 1% 30% 1% 30%; width: 40%;border-radius: 20px; border: 10px solid blue;background:white;
}
h1{
    color: blue;font-weight: bold;font-family: Arial; text-align: center;padding: 1px;
}